@import 'reset';

html {
  font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
  color: red;
}

button {
  appearance: none;
}

$image: '../images/cat.jpg';

.box {
  background-image: url($image);
  background-color: red;
  background-size: 100%;
  width: 100px;
  height: 100px;
}
